.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 0;
}

.logo-container{
    width: 10%;
}

.logo {
    width: 100%;
}

.categories{
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.category-link{
    list-style-type: none;
    color: #fff;
    font-size: 24px;
}

.category-link{
    text-decoration: none;
    color: #fff;
    transition: .5s;
}

.category-link:hover{
    color: #00F6FF;
}

